/* Styles go here */

body{
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #5FBCD3, #2692AD);
  background-repeat: no-repeat;
  height: 100vh;
}

input{
  border-radius: 5%;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  background: -moz-linear-gradient(#e66465, #9198e5);
  background: -o-linear-gradient(#e66465, #9198e5);
  background: linear-gradient(to right, #e66465 50%, #9198e5);;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.button--toggle {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #999;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button--toggle:hover {background-color: #6F9283}

.button--toggle:active {
  background-color: #CDC6A5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}